*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main{
	padding: 50px 0;
	width: 960px;
	margin: 0 auto;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.box{
	border: 1px solid #f7f7f7;
	padding: 10px;
	margin-left: 30px;
	width: 300px;
	float:left;
	position: relative;
}
.box:first-child{
	margin-left: 0;
}
.step-text{
	color: white;
	background-color: orange;
	position: absolute;
	top: 0;
	left: 0;
}
.img1{
	background-image: url(img/flow01.png);
	background-size: cover;
	height: 150px;
	background-position: bottom;
}
.img2{
	background-image: url(img/flow02.png);
	background-size: cover;
	height: 150px;
	background-position: bottom;
}
.img3{
	background-image: url(img/flow03.png);
	background-size: cover;
	height: 150px;
	background-position: bottom;
}
h3{
	padding: 15px 0;
}

@media screen and (max-width:768px){
 main{
 	width: 100%;
 	padding: 50px 0;
 }
 .box{
 	float: none;
 	margin: 0 auto;
 	width: 90%;
 }
 .box:first-child{
 	margin: 0 auto;
 	width: 90%;
 }
 .box:nth-child(2){
 	margin: 20px auto;
 	width: 90%;
 }
 .step-text{
 	background-color: red;
 }
}
